:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #333;
  min-height: 100vh;
  padding-top: 35vh;
}

.lid,
.box {
  background: radial-gradient(white 1rem, transparent 1.1rem), red;
  background-position: 1rem;
  background-size: 8rem 8rem;
 
}

.lid,
.message,
.box {
  width: 50rem;
  margin:auto;
  position: relative;
}

.lid {
  width: 51rem;
  height: 15vh;
  box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.box {
  height: 45vh;
}

.box span,
.lid span {
  position: absolute;
  background: rgba(235, 199, 0, 0.8);
  display: block;
  box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}

.box span:first-child {
  height: 8rem;
  top: 25%;
  width: 100%;
}

.box span:last-child,
.lid span {
  height: 100%;
  left: calc(50% - 4rem);
  width: 8rem;
}

.message{
    color:whitesmoke;
    height:0;
}

.message a{
    color: whitesmoke;
    text-decoration: none;
    display:block;
    font-size:2rem;
    line-height:3rem;
    padding:0 .5rem;
    text-align: center;
}
.message a:hover{
    color:red;
}

.message h1{
    text-align:center;
    font-size:4rem;
    line-height:9rem;
}

.present:hover .lid{
    top:-25rem;
}

.present:hover .message{
    top:-25rem;
}